:root {
  --font: "Open Sans", sans-serif;
  --primary-color: #FE724C;
  --primary-hover-color: #e1481e;
  --text-color: #000000;
  --text-secondery-color: #9EA1B1;
  --white-color: #ffffff;
  --separator-color: #D4D6E0
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}